 HEAD
# Python cache
__pycache__/
*.pyc

# Data files
data/*.csv
data/*.pkl

# Model files
models/*.pkl
models/*.joblib

# Results
results/*.png
results/*.json

# Keep folder structure
!data/.gitkeep
!models/.gitkeep
!results/.gitkeep

.env
*.log
 d148a88d1e092fea5df435029200abcfa6c49e97
